
<h1> Recent Films </h1>


  <%= @Title %>


<!DOCTYPE html>
<html>
<head>
<style>
div.films {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}
</style>
</head>

<body>

<div class="films">
<h2>Title:- <%= @Title0 %></h2>
<p> Overview:- <%=@overview0 %></p>
<p> Popularity:- <%=@popularity0 %></p>
<p> Vote_count:- <%=@vote_count0 %></p>
<p> Vote_average:-<%=@vote_average0 %></p>
<p> Release_date:-<%=@release_date0 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path0 %>" width="400" height="300"> </p>

</div> 

<div class="films">
<h2>Title:- <%= @Title1%></h2>
<p> Overview:- <%= @overview1%></p>
<p> Popularity:- <%=@popularity1%></p>
<p> Vote_count:- <%=@vote_count1%></p>
<p> Vote_average:-<%=@vote_average1%></p>
<p> Release_date:-<%=@release_date1%></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path1 %>" width="400" height="300"> </p>

</div> 

<div class="films">
<h2>Title:- <%= @Title2 %></h2>
<p> Overview:- <%=  @overview2 %></p>
<p> Popularity:- <%= @popularity2 %></p>
<p> Vote_count:- <%= @vote_count2 %></p>
<p> Vote_average:-<%= @vote_average2 %></p>
<p> Release_date:-<%= @release_date2 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path2 %>" width="400" height="300"> </p>

</div> 

<div class="films">
<h2>Title:- <%= @Title3 %></h2>
<p> Overview:- <%=@overview3 %></p>
<p> Popularity:- <%=@popularity3 %></p>
<p> Vote_count:- <%=@vote_count3 %></p>
<p> Vote_average:-<%=@vote_average3 %></p>
<p> Release_date:-<%=@release_date3 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path3 %>" width="400" height="300"> </p>

</div> 

<div class="films">
<h2>Title:- <%= @Title4 %></h2>
<p> Overview:- <%=@overview4 %></p>
<p> Popularity:- <%=@popularity4 %></p>
<p> Vote_count:- <%=@vote_count4 %></p>
<p> Vote_average:-<%=@vote_average4 %></p>
<p> Release_date:-<%=@release_date4 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path4 %>" width="400" height="300"> </p>

</div> 

<div class="films">
<h2>Title:- <%= @Title5 %></h2>
<p> Overview:- <%=@overview5 %></p>
<p> Popularity:- <%=@popularity5 %></p>
<p> Vote_count:- <%=@vote_count5 %></p>
<p> Vote_average:-<%=@vote_average5 %></p>
<p> Release_date:-<%=@release_date5 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path5 %>" width="400" height="300"> </p>
</div>

<div class="films">
<h2>Title:- <%= @Title6 %></h2>
<p> Overview:- <%= @overview6 %></p>
<p> Popularity:- <%= @popularity6 %></p>
<p> Vote_count:- <%= @vote_count6 %></p>
<p> Vote_average:-<%=@vote_average6 %></p>
<p> Release_date:-<%=@release_date6 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path6 %>" width="400" height="300"> </p>
</div>

<div class="films">
<h2>Title:- <%= @Title7 %></h2>
<p> Overview:-   <%= @overview7 %></p>
<p> Popularity:- <%= @popularity7 %></p>
<p> Vote_count:- <%= @vote_count7 %></p>
<p> Vote_average:-<%= @vote_average7 %></p>
<p> Release_date:-<%= @release_date7 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path7 %>" width="400" height="300"> </p>
</div>

<div class="films">
<h2>Title:- <%= @Title8 %></h2>
<p> Overview:- <%=@overview8 %></p>
<p> Popularity:- <%=@popularity8 %></p>
<p> Vote_count:- <%=@vote_count8 %></p>
<p> Vote_average:-<%=@vote_average8 %></p>
<p> Release_date:-<%=@release_date8 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path8 %>" width="400" height="300"> </p>
</div>

<div class="films">
<h2>Title:- <%= @Title9 %></h2>
<p> Overview:- <%=@overview9 %></p>
<p> Popularity:- <%=@popularity9 %></p>
<p> Vote_count:- <%=@vote_count9 %></p>
<p> Vote_average:-<%=@vote_average9 %></p>
<p> Release_date:-<%=@release_date9 %></p>
<p> <img src = "http://image.tmdb.org/t/p/w500<%=@poster_path9 %>" width="400" height="300"> </p>
</div>

</body>
</html>








