
<h1> Top Rated Film Personalities </h1>




<!DOCTYPE html>
<html>
<head>
<style>
div.films {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}
</style>
</head>

<body>

<div class="films">
<h2>Name:- <%=  @Name0 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath0 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name1 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath1 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name2 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath2 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name3 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath3 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name4 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath4 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name5 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath5 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name6 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath6 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name7 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath7 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name8%></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath8 %>" width="400" height="300"> </p>
</div> 

<div class="films">
<h2>Name:- <%=  @Name9 %></h2>
<p> <img src = "http://image.tmdb.org/t/p/w500<%= @ProfilePath9 %>" width="400" height="300"> </p>
</div> 

</body>
</html>








